<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
  	<servlet-name>userinfo</servlet-name>
  	<servlet-class>example.UserInfoServlet</servlet-class>
  </servlet>
    <servlet>
  	<servlet-name>reclist</servlet-name>
  	<servlet-class>example.ReclistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>userinfo</servlet-name>
  	<url-pattern>/userinfo</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
  	<servlet-name>reclist</servlet-name>
  	<url-pattern>/reclist</url-pattern>
  </servlet-mapping>
</web-app>